.navbar{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 55px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    
    
}

.navbar:hover{
    background: transparent;
    border-radius: 0.5rem;
}

.logo{
    object-fit: cover;
    height: 8rem;
    width: 10rem;
}

.listItem{
    margin:  1rem;
    cursor: pointer;
}


.listItem:hover{
    color: #ffbd59;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ff5757;
    
}
.desktopMenuButton{
    font-size: 1rem;
    font-style: initial;
    font-weight: 1000;
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25rem .9rem;
    border-radius: 2rem;
}

.desktopMenuButton:hover{
    background: #ff5757;
    color: black;
}

.contackMeImg{
    object-fit: cover;
    height: 1.75rem;
    width: 1.75rem;
    margin: .4rem;
}

@media (max-width: 640px) {
    .desktopMenu {
      display: none;
    }
  
    .menu {
      display: block;
    }
  }
  
  .hidden {
    display: none;
  }
  