.navbar{
    background: rgb(30, 30, 30);
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.navbar:hover{
    background: rgb(40, 40, 40);
    border-radius: 0.5rem;
}

.logo{
    object-fit: cover;
    height: 8rem;
    width: 10rem;
}

.listItem{
    margin:  1rem;
    cursor: pointer;
}


.listItem:hover{
    color: #ffbd59;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ff5757;
    
}
.desktopMenuButton{
    font-size: 1rem;
    font-style: initial;
    font-weight: 1000;
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25rem .9rem;
    border-radius: 2rem;
}

.desktopMenuButton:hover{
    background: #ff5757;
    color: black;
}

.contackMeImg{
    object-fit: cover;
    height: 1.75rem;
    width: 1.75rem;
    margin: .4rem;
}

