#workmain{
    overflow: hidden;
    width: 100vw;
    height: calc(100vh - 4rem);
    max-width: auto;
    background-image: url(bg.jpg);
    background-size: cover;
    margin:  0 auto;
    display: flex;
    padding: 2rem 2rem ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.projectBtn{
    border-radius: 2rem;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 1rem;
}


.appWork{
    object-fit: cover;
    padding: 2rem 2rem ;
    margin: 0 0.25rem;
    width: 12rem;
    height: 12rem;
    border-radius: 0.5rem;
}

.resWork{
    object-fit: cover;
    margin: 0 0.25rem;
    width: 12rem;
    height: 12rem;
    border-radius: 0.5rem;
}

.gWork{
    object-fit: cover;
    margin: 0 0.25rem;
    width: 12rem;
    height: 12rem;
    border-radius: 0.5rem;
}

.lWork{
    object-fit: cover;
    margin: 0 0.25rem;
    width: 12rem;
    height: 12rem;
    border-radius: 0.5rem;
}